<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Crear Viaje</title>
</head>
<body>
<div th:switch="${viaje.id}">
    <h1 th:case="null" align="center">Crear Viaje</h1>
    <h1 th:case="*" align="center">Editar Viaje</h1>
</div>
<form th:action="@{/viajes/save}" method="post" th:object="${viaje}">

    <input type="hidden" id="id" th:field="*{id}">
<table align="center">
    <tr style="margin-left:42%">
        <th><label for="HoraSalida" >Hora de salida</label></th>
        <td><input type="datetime-local" id="HoraSalida" th:field="*{HoraSalida}"></td>
    </tr>

    <tr style="margin-left:42%">
        <th><label for="HoraLlegada">Hora de llegada</label></th>
        <td><input type="datetime-local" id="HoraLlegada" th:field="*{HoraLlegada}"></td>
    </tr>

    <tr style="margin-left:42%">
        <th><label for="precio">Precio</label></th>
        <td><input type="text" id="precio" th:field="*{precio}"></td>
    </tr>
    <tr style="margin-left:42%">
        <th><label for="plazas">Número de plazas</label></th>
        <td><input type="text" id="plazas" th:field="*{plazas}" ></td>
    </tr>
    <tr style="margin-left:42%">
        <th><label for="origen">Origen</label></th>
        <td><input type="text" id="origen" th:field="*{origen}" ></td>
    </tr>
    <tr style="margin-left:42%">
        <th><label for="destino">Destino</label></th>
        <td><input type="text" id="destino" th:field="*{destino}"></td>
    </tr>
    <tr style="margin-left:42%">
        <th><label for="coche">Modelo de Coche</label></th>
        <td><input type="text" id="coche" th:field="*{coche}"></td>
    </tr>
</table>

    <div style="margin-left:50%">

        <input type="submit" value="Enviar">
    </div>
</form>
</body>
</html>