<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Listado de Viajes</title>
		<style>
		table {
		  border-collapse: collapse;
		  border-spacing: 0;
		  width: 50%;
		  border: 1px solid #ddd;
		  margin-left: auto;
		  margin-right: auto;
		}

		th, td {
		  text-align: left;
		  padding: 16px;
		}

		tr:nth-child(even) {
		  background-color: #f2f2f2;
		}
	</style>
    </head>
    <body>
        <h1 align="center">Listado de Viajes</h1>

        <table>
        	<tr>
				<th>Hora de Salida</th>
				<th>Hora de Llegada</th>
				<th>Origen</th>
				<th>Destino</th>
				<th>Precio (€)</th>
				<th>Plazas Disponibles</th>
			</tr>
        		<tr th:each="v: ${listaViajes}">
        			<td th:text="${#dates.format(v.horaSalida, 'dd-MM-yyyy hh:mm')}"></td>
					<td th:text="${#dates.format(v.horaLlegada, 'dd-MM-yyyy hh:mm')}"></td>
					<td th:text="${v.origen}"></td>
					<td th:text="${v.destino}"></td>
					<td th:text="${v.precio}"></span></td>
					<td th:text="${v.plazas}"></td>
					<td><a th:href="@{/viajes/delete/{id}(id=${v.id})}">Borrar</a></td>
					<td><a th:href="@{/viajes/edit/{id}(id=${v.id})}">Editar</a></td>
					<td><a th:href="@{/viajes/view/{id}(id=${v.id})}">Ver</a></td>
				</tr>
        </table>
		<form th:action="@{/viajes/volver}" method="post" align="center">
			<td><input type="submit" value="Volver" style="width: 0 auto"> </td>
		</form>
    </body>
</html>