<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Listado de Viajes</title>
    </head>
    <body>
        <h1 class="negro">Listado de Viajes</h1>
        
        <table>
        	<thead>
        		<tr><td>Hora salida   .</td><td>.   Hora llegada   .</td><td>.   Precio   .</td><td>.   Plazas   .</td><td>.   Conductor  </td></tr>
        	</thead>
        	<tbody>
        		<tr th:each="v: ${listaViajes}">
        			<td th:text="${v.HoraSalida}"></td>
					<td th:text="${v.HoraLlegada}"></td>
					<td th:text="${v.precio}"></td>
					<td th:text="${v.plazas}"></td>
					<td th:text="${v.conductor.nombre}"></td>
				</tr>
        	</tbody>
        
        </table>
    </body>
</html>