<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FuengiUma</title>
  <style>
        table {
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          border: 1px solid #ddd;
        }

        th, td {
          text-align: left;
          padding: 16px;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1 align="center"><big>FuengiUma</big></h1>
<div style="width: 330px; margin: 0 auto;">
  <table  class="default" style="margin: 0 auto; text-align: center;">
    <tr>
      <td></td>

      <form th:action="@{/viajes/add}" method="post">
        <td><input type="submit" value="Crear Viajes" style="width : 100px; margin-top: 5px"> </td>
      </form>

      <form th:action="@{/viajes}" method="post">
        <td><input type="submit" value="Consultar Viajes Disponibles" style="width : 103px; margin-top: 5px"></td>
      </form>
      <form th:action="@{/misViajes}" method="post">
        <td><input type="submit" value="Mis Viajes" style="width : 103px; margin-top: 5px"></td>
      </form>

    </tr>
  </table>
</div>
</body>
</html>