<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Resgistrarse</title>
</head>
<body>
<h1 align=center>Nuevo usuario</h1>
<form th:action="@{/usuario/save}" method="post" th:object="${usuario}">
	<input type="hidden" id="id" th:field="*{id}">

	<div style="margin-left:42%">
		<label for="nombre" >Apodo</label>
		<input type="text" id="nombre" th:field="*{nombre}" style="width : 200px; margin-left: 28px">
	</div>

	<div style="margin-left:42%">
		<label for="telefono">Telefono</label>
		<input type="text" id="telefono" th:field="*{telefono}" style="width : 200px;  margin-left: 15px">
	</div>
	<div style="margin-left:42%">
		<label for="contrasena">Contraseña</label>
		<input type="text" id="contrasena" th:field="*{contrasena}" style="width : 200px">
	</div>

	<div style="margin-left:50%">

		<input type="submit" value="Enviar">
	</div>
</form>
</body>
</html>